<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>晚餐吃啥</title>
    <link href="/res/vue/iview.css" rel="stylesheet">
    <script src="/res/vue/vue.min.js"></script>
    <script src="/res/vue/iview.min.js"></script>
    <script src="/res/vue/axios.min.js"></script>
    <script src="/res/vue/qs.min.js"></script>
</head>
<body>
<div id="app" style="padding: 30px; line-height: 50px;">
    <i-row>
        <i-col span="24">
            <h3>今天吃啥[投票]</h3>
        </i-col>
    </i-row>
    <i-row>
        <i-col span="24">
            <radio-group v-model="shop_id" vertical>
                <radio :label="item.id" v-for="item, i in votes" :disabled="myvote>0">{{item.name_en}}<span v-if="item.num>0">{{item.username}}</span></radio>
            </radio-group>
        </i-col>
    </i-row>
    <i-row>
        <i-button type="primary" @click="vote()" :disabled="myvote>0">
            投票
        </i-button>
    </i-row>
</div>
<script>
 new Vue({
    el: '#app',
    data () {
        return {
            shop_id: 0,
            myvote: 0,
            votes: [],
        }
    },
    created() {
        this.getData()
    },
    mounted() {
        
    },
    methods: {
        getData() {
            axios.post('/api/index', {})
            .then((response) => {
                if (response.data.code != 200) {
                    this.$Message.info(response.data.msg);
                } else {
                    this.myvote = (response.data.data.myvote)
                    this.shop_id = (response.data.data.myvote)
                    this.votes = (response.data.data.votes)
                }
            })
        },
        vote() {
            axios.post('/api/index?route=toupiao', Qs.stringify({"shop_id":this.shop_id}))
            .then((response) => {
                if (response.data.code != 200) {
                    this.$Message.info(response.data.msg);
                }
                this.getData()
            })
        },
    }
})
</script>
</body>
</html>
